 .ui-nav-mobile {
	display: none;	
 }
a.ui-btn.ui-menu-close {
	position: relative;
	padding: 0.25rem 0.25rem 0.25rem 0;
}
 .ui-menu-open::after {
	 background: rgba(0, 0, 0, 0.2);
	 content: '';
	 display: none;
	 z-index: 1;
	 bottom: 0;
	 left: 0;
	 width: 100%;
}
 .ui-menu-open.is-active::after {
	 display: block;
}

 @keyframes slidein-right {
	 from {
		 transform: translateX(100%);
	}
	 to {
		 transform: translateX(0%);
	}
}
 .ui-nav-mobile {
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background: #fff;
	 border-left: 1px solid #aeb0b5;
	 border-right: 0;
	 flex-direction: column;
	 overflow-y: auto;
	 width: 100%;
	 z-index: 9000;
}
 .ui-nav-mobile.is-active {
	 animation: slidein-right 0.3s ease-in-out;
	 display: flex;
	 left: 0;
	 background: rgba(255, 255, 255, 0.98);
}

/*
.is-active .g-content {
	padding: 0;
	margin: 0;
}
*/
 

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
	.ui-nav-mobile {
		left: 0;
	}
    .mod_koy_sticky_contact > div {
        display: flex;
    }
    .mod_koy_sticky_contact div div {
        margin: 0;
    }
    .mod_koy_sticky_contact a {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .mod_koy_sticky_contact {
        padding-bottom: 0;
    }
}

@media only all and (min-width: 59.938rem) {
	.ui-nav-mobile.is-active {
		left: 110%;
	}
	.is-active .g-content {
		margin: 0.625rem;
		padding: 0.938rem;
	}
}